<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="false"            
            locationURI="menu:org.eclipse.ui.main.menu.AMASS?after=org.eclipse.ui.main.menu.CHESS.funcVer">             
              <menu
                    id="org.eclipse.ui.main.menu.CHESS.safetyAnalysis"
                    label="Safety Analysis">
               </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"            
            locationURI="popup:org.eclipse.ui.main.diagramEditorMenu.AMASS?after=org.eclipse.ui.main.diagramEditorMenu.CHESS.funcVer">              
           <menu
               label="Safety Analysis"
            id="org.eclipse.ui.main.diagramEditorMenu.CHESS.safetyAnalysis">
               </menu>
              </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.polarsys.chess.mainMenu?after=org.eclipse.ui.main.menu.CHESS.funcVer">
         <menu
               id="org.eclipse.ui.main.menu.CHESS.safetyAnalysis"
               label="Safety Analysis">
            <menu
                  label="//Debug Operations">
               <command
                     commandId="org.polarsys.chess.safetyAnalysis.commands.debug.ComputeContractFaultTreeOnFileCommand"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Fault Tree Viewer">
               <command
                     commandId="eu.fbk.eclipse.standardtools.faultTreeViewer.commands.ShowFaultTreeFromXmlFileCommand"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.polarsys.chess.safetyAnalysis.commands.ComputeContractFaultTreeCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.polarsys.chess.modelexplorerpopupmenu.id?after=org.eclipse.ui.main.diagramEditorMenu.CHESS.funcVer">
         <menu
               id="org.eclipse.ui.main.diagramEditorMenu.CHESS.safetyAnalysis"
               label="Safety Analysis">
            <menu
                  label="Fault Tree Viewer">
               <command
                     commandId="eu.fbk.eclipse.standardtools.faultTreeViewer.commands.ShowFaultTreeFromXmlFileCommand"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.polarsys.chess.safetyAnalysis.commands.ComputeContractFaultTreeCommand"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.polarsys.chess.modelexplorerpopupmenu.packageverification.id"
               label="Architecture Verification">
            <command
                  commandId="org.polarsys.chess.safetyAnalysis.commands.ComputeContractFaultTreeCommand"
                  icon="icons/fault-tree.png"
                  label="Contract-based Safety Analysis"
                  style="push">
               <parameter
                     name="store_result"
                     value="true">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.uml2.uml.Package">
                     </instanceof>
                  </adapt>
                    <with
                     	variable="activeMenuSelection">
                  		<count
                        	value="1">
                  		</count>
               		</with>                     
               </iterate>
            </visibleWhen>
         </menu>
      </menuContribution>          
          </extension>
 <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.safetyAnalysis.commands.ComputeContractFaultTreeCommand"
            id="org.polarsys.chess.safetyAnalysis.commands.ComputeContractFaultTreeCommand"
            name="Contract-based Safety Analysis on selected component">
         <commandParameter
               id="store_result"
               name="storeResult"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.polarsys.chess.safetyAnalysis.commands.debug.ComputeContractFaultTreeOnFileCommand"
            id="org.polarsys.chess.safetyAnalysis.commands.debug.ComputeContractFaultTreeOnFileCommand"
            name="Compute Contract-based Fault Tree on .oss file">
      </command>
      </extension>
</plugin>
