<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="false"            
            locationURI="menu:org.eclipse.ui.main.menu.AMASS?after=org.eclipse.ui.main.menu.AMASS.funcVer">             
              <menu
               label="Safety Analysis">
               <menu
                       label="//Debug Operations">
                       <command
                          commandId="org.polarsys.chess.safetyAnalysis.commands.debug.ComputeContractFaultTreeOnFileCommand"
                          style="push">
                    </command>
                       </menu>
                 <menu
                       label="Fault Tree Viewer">
                    <command
                          commandId="eu.fbk.eclipse.standardtools.faultTreeViewer.commands.ShowFaultTreeFromXmlFileCommand"
                          style="push">
                    </command>
                 </menu>
                <command
                  commandId="org.polarsys.chess.safetyAnalysis.commands.ComputeContractFaultTreeCommand"
                  style="push">
            </command>         
               </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"            
            locationURI="popup:org.eclipse.ui.main.diagramEditorMenu.AMASS?after=org.eclipse.ui.main.diagramEditorMenu.AMASS.funcVer">              
           <menu
               label="Safety Analysis"
            id="org.eclipse.ui.main.diagramEditorMenu.AMASS.safetyAnalysis">
           <menu
                       label="Fault Tree Viewer">
                    <command
                          commandId="eu.fbk.eclipse.standardtools.faultTreeViewer.commands.ShowFaultTreeFromXmlFileCommand"
                          style="push">
                    </command>
                 </menu>
                <command
                  commandId="org.polarsys.chess.safetyAnalysis.commands.ComputeContractFaultTreeCommand"
                  style="push">
            </command>         
               </menu>
              </menuContribution>          
          </extension>
 <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.safetyAnalysis.commands.ComputeContractFaultTreeCommand"
            id="org.polarsys.chess.safetyAnalysis.commands.ComputeContractFaultTreeCommand"
            name="Contract-based Safety Analysis on selected component">
      </command>
      <command
            defaultHandler="org.polarsys.chess.safetyAnalysis.commands.debug.ComputeContractFaultTreeOnFileCommand"
            id="org.polarsys.chess.safetyAnalysis.commands.debug.ComputeContractFaultTreeOnFileCommand"
            name="Compute Contract-based Fault Tree on .oss file">
      </command>
      </extension>
</plugin>
