<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu.CHESS.basicOperation">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.polarsys.chess.modelexplorerpopupmenu.id">
         <menu
               id="org.eclipse.ui.main.diagramEditorMenu.CHESS.basicOperations"
               label="Basic Operations">
            <command
                  commandId="org.polarsys.chess.paramArchConfigurator.commands.InstantiateArchitecture"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.paramArchConfigurator.commands.InstantiateParamArchAsOssFileCommand"
            id="org.polarsys.chess.paramArchConfigurator.commands.InstantiateParamArchAsOssFileCommand"
            name="Instantiate the parameterized architecture as .oss file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.paramArchConfigurator.commands.InstantiateArchitectureViaWizard"
            id="org.polarsys.chess.paramArchConfigurator.commands.InstantiateArchitecture"
            name="Instantiate the parameterized architecture">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
   </extension>

</plugin>
