<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
            
   <extension
        id="Build Instance Command"
        point="org.eclipse.ui.commands">
      <command
            id="org.chess.BuildModelInstanceCommandID"
            name="buildModelInstanceCommand">
      </command>
      <command
         id="org.chess.ShowRTCommandID"
         name="showRTCommand">
      </command>
      <command
         id="org.chess.HideRTCommandID"
         name="hideRTCommand">
      </command>
      <command
         id="org.chess.Filters"
         name="Filter">
      </command>
   </extension>
         
	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
         <menu
               icon="resources/CHESSicon.gif"
               id="chess.popup.filters.id"
               label="Filters">
            <menu
                  id="CHRtSpecificationPopup_ID"
                  label="CHRtSpecification">
               <command
                     commandId="org.chess.HideRTCommandID"
                     label="Hide"
                     style="pulldown">
                  <visibleWhen
                  checkEnabled="false">
                  <or> 
                  	<with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.polarsys.chess.CHESSNature">
                           </test>
                        </adapt>
                     </with>
                     <with
                     variable="activeEditorId">
                     <equals
                           value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                     </equals> </with>
                  </or>
              
            </visibleWhen>
               </command>
               <command
                     commandId="org.chess.ShowRTCommandID"
                     label="Show"
                     style="push">
                  <visibleWhen
                  checkEnabled="false">
                  <or> 
                  	<with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.polarsys.chess.CHESSNature">
                           </test>
                        </adapt>
                     </with>
                     <with
                     variable="activeEditorId">
                     <equals
                           value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                     </equals> </with>
                  </or>
              
            </visibleWhen>
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               icon="resources/CHESSicon.gif"
               id="org.polarsys.chess.mainMenu"
               label="CHESS">
            <command
                  commandId="org.chess.BuildModelInstanceCommandID"
                  label="Build Instances Model"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeEditorId">
                        <equals
                              value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                        </equals>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.polarsys.chess.CHESSNature">
                           </test>
                        </adapt>
                     </with>
                  </or>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.polarsys.chess.mainMenu">
         <menu
               id="chess.menu.filters.id"
               label="Filters">
            <menu
                  id="CHRtSpecification_ID"
                  label="CHRtSpecification">
               <command
                     commandId="org.chess.HideRTCommandID"
                     label="Hide"
                     style="pulldown">
                  <visibleWhen
                        checkEnabled="false">
                     <or>
                        <with
                              variable="activeEditorInput">
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.polarsys.chess.CHESSNature">
                              </test>
                           </adapt>
                        </with>
                        <with
                              variable="activeEditorId">
                           <equals
                                 value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                           </equals>
                        </with>
                     </or>
                  </visibleWhen>
               </command>
               <command
                     commandId="org.chess.ShowRTCommandID"
                     label="Show"
                     style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <or>
                        <with
                              variable="activeEditorInput">
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.polarsys.chess.CHESSNature">
                              </test>
                           </adapt>
                        </with>
                        <with
                              variable="activeEditorId">
                           <equals
                                 value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                           </equals>
                        </with>
                     </or>
                  </visibleWhen>
               </command>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeEditorInput">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.polarsys.chess.CHESSNature">
                        </test>
                     </adapt>
                  </with>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                     </equals>
                  </with>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>

   </extension>   
	   
	   
	
	   

   <extension
         point="org.eclipse.ui.handlers">
      
      <handler
            class="org.polarsys.chess.commands.BuildModelInstanceCommand"
            commandId="org.chess.BuildModelInstanceCommandID">
      </handler>
      
      <handler
            class="org.polarsys.chess.commands.ShowRTInformationCommand"
            commandId="org.chess.ShowRTCommandID">
      </handler>
      
      <handler
            class="org.polarsys.chess.commands.HideRTInformationCommand"
            commandId="org.chess.HideRTCommandID">
      </handler>
     
      
   </extension> 
    
</plugin>
