<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
      <transformation
            file="transforms/FPTC2FLABehavior.qvto"
            id="org.polarsys.chess.fla.FPTC2FLABehavior/transforms/FPTC2FLABehavior">
      </transformation>
   </extension>

</plugin>
