<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.polarsys.chess.modelexplorerpopupmenu.id">
         <menu
               id="org.eclipse.ui.main.diagramEditorMenu.CHESS.basicOperations"
               label="Basic Operations">
            <command
                  commandId="org.polarsys.chess.OSSImporter.commands.AddOSSFile"
                  label="Import &lt;&lt;SystemView&gt;&gt; components from .oss file"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.chess.OSSImporter.commands.createIBD"
                  label="Create the IBD diagram for the selected component"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Class">
                        </instanceof>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.chess.OSSImporter.commands.createAllIBDs"
                  label="Create the IBD diagrams for all the package components"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.OSSImporter.commands.AddOSSFileCommand"
            id="org.polarsys.chess.OSSImporter.commands.AddOSSFile"
            name="Add System View components from .oss file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.OSSImporter.commands.CreateIBDSingleCommand"
            id="org.polarsys.chess.OSSImporter.commands.createIBD"
            name="Create the IBD diagram for the selected component">
      </command>
      <command
            defaultHandler="org.polarsys.chess.OSSImporter.commands.CreateIBDMultipleCommand"
            id="org.polarsys.chess.OSSImporter.commands.createAllIBDs"
            name="Create the IBD diagrams for all the components">
      </command>
   </extension>

</plugin>
