<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
   
    Copyright (c) 2013, 2015 Intecs SpA 
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
    Nicholas Pacini nicholas.pacini@intecs.it 
    Stefano Puri stefano.puri@intecs.it
    Laura Baracchi  laura.baracchi@intecs.it 
    Irfan Sljivo irfan.sljivo@mdh.se
    Initial API and implementation and/or initial documentation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category 
      		id="org.polarsys.chess.contracts.category"
      		name="Formal Verification Category">
      </category>
      <command
            categoryId="org.polarsys.chess.contracts.category"
            defaultHandler="org.polarsys.chess.contracts.transformations.commands.CheckRefHandler"
            id="org.polarsys.chess.contracts.transformations.ref.id"
            name="Check Refinement">
      </command>
      <command
            categoryId="org.polarsys.chess.contracts.category"
            defaultHandler="org.polarsys.chess.contracts.transformations.commands.CheckImplHandler"
            id="org.polarsys.chess.contracts.transformations.impl.id"
            name="Check Implementation">
      </command>
      <command
            categoryId="org.polarsys.chess.contracts.category"
            defaultHandler="org.polarsys.chess.contracts.transformations.commands.ExportSmv"
            id="org.polarsys.chess.contracts.transformations.smv.id"
            name="Export SMV">
      </command>
      <command
            categoryId="org.polarsys.chess.contracts.category"
            defaultHandler="org.polarsys.chess.contracts.transformations.commands.FTANuSMV3Handler"
            id="org.polarsys.chess.contracts.transformations.fta3.id"
            name="FTA NuSMV3">
      </command>
      <command
            categoryId="org.polarsys.chess.contracts.category"
            defaultHandler="org.polarsys.chess.contracts.transformations.commands.CheckValidPropHandler"
            id="org.polarsys.chess.contracts.transformations.validProp.id"
            name="Validate Properties">
      </command>
      <command
            categoryId="org.polarsys.chess.contracts.category"
            defaultHandler="org.polarsys.chess.contracts.transformations.commands.FTAXSapHandler"
            id="org.polarsys.chess.contracts.transformations.ftaxsap.id"
            name="FTA xSAP">
         <commandParameter
               id="store_result"
               name="storeResult"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="org.polarsys.chess.contracts.category"
            defaultHandler="org.polarsys.chess.contracts.transformations.commands.FMEAXSapHandler"
            id="org.polarsys.chess.contracts.transformations.fmeaxsap.id"
            name="FMEA xSAP">
         <commandParameter
               id="store_result"
               name="storeResult"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
     		locationURI="menu:org.polarsys.chess.mainMenu">
          <menu
                id="chess.menu.analysis.id"
                label="Analysis">
             <menu
                   id="chess.menu.analysis.contract.id"
                   label="Formal Verification">
                <command
                      commandId="org.polarsys.chess.contracts.transformations.ref.id"
                      label="Contracts Refinement Analysis (OCRA)"
                      style="push">
                      <visibleWhen
                           checkEnabled="false">
                        <or>
                           <with
                                 variable="activeEditorId">
                              <equals
                                    value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                              </equals>
                           </with>
                           <with
                                 variable="activeEditorInput">
                              <adapt
                                    type="org.eclipse.core.resources.IResource">
                                 <!--test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="org.polarsys.chess.CHESSNature">
                                 </test-->
                              </adapt>
                           </with>
                        </or>
                     </visibleWhen>
                </command>
                <command
                      commandId="org.polarsys.chess.contracts.transformations.validProp.id"
                      label="Validate Properties (OCRA)"
                      style="push">
                   <visibleWhen
                         checkEnabled="false">
                      <or>
                         <with
                               variable="activeEditorId">
                            <equals
                                  value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                            </equals>
                         </with>
                         <with
                               variable="activeEditorInput">
                            <adapt
                                  type="org.eclipse.core.resources.IResource">
                            </adapt>
                         </with>
                      </or>
                   </visibleWhen>
                </command>
                <!--command
                      commandId="org.polarsys.chess.contracts.transformations.impl.id"
                      label="Check Implementation Analysis"
                      style="push">
                </command-->
             </menu>
             <menu
                   id="chess.menu.analysis.dependability.id"
                   label="Dependability">
                <command
                      commandId="org.polarsys.chess.contracts.transformations.fta3.id"
                      label="FTA with NuSMV3 (xSAP)"
                      style="push">
                      <visibleWhen
                           checkEnabled="false">
                        <or>
                           <with
                                 variable="activeEditorId">
                              <equals
                                    value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                              </equals>
                           </with>
                           <with
                                 variable="activeEditorInput">
                              <adapt
                                    type="org.eclipse.core.resources.IResource">
                                 <!--test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="org.polarsys.chess.CHESSNature">
                                 </test-->
                              </adapt>
                           </with>
                        </or>
                     </visibleWhen>
                </command>
                <command
                      commandId="org.polarsys.chess.contracts.transformations.ftaxsap.id"
                      label="FTA with xSAP"
                      style="push">
                   <visibleWhen
                         checkEnabled="false">
                      <or>
                         <with
                               variable="activeEditorId">
                            <equals
                                  value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                            </equals>
                         </with>
                         <with
                               variable="activeEditorInput">
                            <adapt
                                  type="org.eclipse.core.resources.IResource">
                            </adapt>
                         </with>
                      </or>
                   </visibleWhen>
                </command>
                <command
                      commandId="org.polarsys.chess.contracts.transformations.fmeaxsap.id"
                      label="FMEA with xSAP"
                      style="push">
                </command>
          	 </menu>
          </menu>
	</menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.polarsys.chess.modelexplorerpopupmenu.id?after=org.eclipse.ui.main.diagramEditorMenu.CHESS.safetyCase">
         <menu
               id="org.polarsys.chess.modelexplorerpopupmenu.packageverification.id"
               label="Architecture Verification">
            <command
                  commandId="org.polarsys.chess.contracts.transformations.ftaxsap.id"
                  icon="icons/fault-tree.png"
                  label="Fault Tree Analysis (FTA)"
                  style="push">
               <parameter
                     name="store_result"
                     value="true">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <instanceof
                           value="org.eclipse.uml2.uml.Package">
                     </instanceof>
                  </adapt>
                    <with
                     	variable="activeMenuSelection">
                  		<count
                        	value="1">
                  		</count>
               		</with>                     
               </iterate>
            </visibleWhen>
            <command
                  commandId="org.polarsys.chess.contracts.transformations.fmeaxsap.id"
                  icon="icons/table.png"
                  label=" Failure Mode and Effect Analysis (FMEA)"
                  style="push">
               <parameter
                     name="store_result"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="eu.fbk.tools.adapter.ui.commands.ShowVVResultCommand"
                  label="Show result FMEA"
                  style="push">
               <parameter
                     name="function_name"
                     value="xsap_compute_fmea_table">
               </parameter>
               <parameter
                     name="result_file"
                     value="/hardmnt/nemesis0/data/cristofo/git/CHESS_SystemArchitectureProjects/Battery_Luca_Multistate/NuSMV3-XSAP/Results/model_BatterySystem_fmea_table.xml">
               </parameter>
            </command>
            <command
                  commandId="eu.fbk.tools.adapter.ui.commands.ShowVVResultCommand"
                  label="Show result FTA"
                  style="push">
               <parameter
                     name="function_name"
                     value="xsap_compute_fault_tree">
               </parameter>
               <parameter
                     name="result_file"
                     value="/hardmnt/nemesis0/data/cristofo/git/CHESS_SystemArchitectureProjects/Battery_Luca_Multistate/NuSMV3-XSAP/Results/extended_model_BatterySystem_c1_ft.xml">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
