/org.polarsys.chess.contracts.profile/
/org.polarsys.chess.contracts.transformations/
/org.polarsys.chess.contracts.validation/
/org.polarsys.chess.contracts.chessextension/
/org.polarsys.chess.contracts.integration/
