<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.runtime.qvtTransformation">
      <transformation
            file="transformations/CHESS_PIM2PSM.qvto"
            id="transformations/CHESS_PIM2PSM">
      </transformation>
   </extension>
<extension point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
     <unit
        name="lib"
        namespace="chess">
        <library
           class="org.polarsys.chess.m2m.blackbox.VSLUtils"
           name="VSLUtils">
           <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/>
           <metamodel nsURI="http://www.eclipse.org/papyrus/MARTE/1"/>
           <metamodel nsURI="http://CHESS"/>
           <metamodel nsURI="http://www.eclipse.org/uml2/2.0.0/UML"/>
        </library>
     </unit>
	</extension>
	
	<extension point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
     <unit
        name="libJava4QVTutils"
        namespace="chess">
        <library
           class="org.polarsys.chess.m2m.blackbox.Java4QVTutils"
           name="Java4QVTutils">
           <metamodel nsURI="http://www.eclipse.org/emf/2002/Ecore"/>
           <metamodel nsURI="http://www.eclipse.org/papyrus/MARTE/1"/>
           <metamodel nsURI="http://CHESS"/>
           <metamodel nsURI="http://www.eclipse.org/uml2/2.0.0/UML"/>
        </library>
     </unit>
	</extension>
	
   <extension
         point="org.eclipse.ui.menus">
         
         <menuContribution locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
 			<command
   				commandId="org.polarsys.chess.m2m.commands.CompareAnalysisResultsCommandID"
   				id="org.polarsys.chess.m2m.commands.CompareAnalysisResultsMenuID"   
   				label="Compare Analysis Results"
  				style="push">
 			</command>
  		 </menuContribution>
  
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.polarsys.chess.mainMenu"
               label="CHESS"
               mnemonic="E">
            <command
                  commandId="it.unipd.chess.m2m.purgePIM"
                  label="Purge Analysis Context"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.polarsys.chess.CHESSNature">
                           </test>
                        </adapt>
                     </with>
                  </and>
               </visibleWhen>
            </command>
         <menu
               id="chess.menu.analysis.id"
               label="Analysis">
            <menu
                  id="chess.menu.analysis.realtime.id"
                  label="Real-Time Analysis">
                <command
                  commandId="it.unipd.chess.m2m.QvtoUIHandlerVERDE.id"
                  label="Schedulability Analysis"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.polarsys.chess.CHESSNature">
                           </test>
                        </adapt>
                     </with>
                  </and>
               </visibleWhen>
            </command>
            <command
               commandId="it.unipd.chess.m2m.QVToUIHandlerEnd2End.id"
               label="End-To-End Scenario Analysis"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.polarsys.chess.CHESSNature">
                           </test>
                        </adapt>
                     </with>
                  </and>
               </visibleWhen>
            </command>
         </menu>
        </menu>
       </menu>
      </menuContribution>
   </extension>
   <extension
         id="Build Instance Command"
         point="org.eclipse.ui.commands">
        
      <command
            defaultHandler="org.polarsys.chess.m2m.handlers.CompareAnalysisResultsHandler"
            id="org.polarsys.chess.m2m.commands.CompareAnalysisResultsCommandID"
            name="Compare Analysis Results">
      </command>
      
      <!--command
            categoryId="it.unipd.chess.commands.category"
            defaultHandler="org.polarsys.chess.m2m.QVToUIHandlerFull"
            id="it.unipd.chess.m2m.QvtoUIHandlerFull.id"
            name="Schedulability Analysis">
      </command-->
      <command
            category="it.unipd.chess.category"
            categoryId="it.unipd.chess.commands.category"
            defaultHandler="org.polarsys.chess.m2m.handlers.PurgePSMHandler"
            id="it.unipd.chess.m2m.purgePIM"
            name="Purge Timing Analysis">
      </command>
      <command
            categoryId="it.unipd.chess.commands.category"
            defaultHandler="org.polarsys.chess.m2m.handlers.QVToUIHandlerVERDE"
            id="it.unipd.chess.m2m.QvtoUIHandlerVERDE.id"
            name="Schedulability Analysis (VERDE)">
      </command>
      <command
            categoryId="it.unipd.chess.commands.category"
            defaultHandler="org.polarsys.chess.m2m.handlers.QVToUIHandlerEnd2End"
            id="it.unipd.chess.m2m.QVToUIHandlerEnd2End.id"
            name="End-To-End Scenario Analysis">
      </command>
      <!--
      <command
            categoryId="it.unipd.chess.commands.category"
            defaultHandler="it.unipd.chess.m2m.QVToUIHandler"
            id="it.unipd.chess.m2m.QvtoUIHandler.id"
            name="Schedulability Analysis">
      </command>
      -->
   </extension>
   

   
   
</plugin>
