<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor 
            contributorId="TreeOutlinePage">
            <!--labelProvider="org.eclipse.papyrus.tabbedproperties.core.providers.EMFObjectLabelProvider"-->
         <propertyCategory category="CHESSAdvancedProperty"/>
      </propertyContributor>
   </extension>
 
 <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="TreeOutlinePage">
         	<propertyTab id="Ports" label="Ports" category="CHESSAdvancedProperty" afterTab="advanced"/>
      		<propertyTab id="CHRtSpecification" label="CHRtSpecification" category="CHESSAdvancedProperty" afterTab="Ports"/>
      		<propertyTab id="AnalysisContext" label="AnalysisContext" category="CHESSAdvancedProperty" afterTab="Ports"/>
      </propertyTabs>
   </extension>
 
 <extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
	<propertySections contributorId="TreeOutlinePage">
		<propertySection
			afterSection=""
	   		class="org.polarsys.chess.tabbedproperties.sections.PortsProperty"
	  		id="CHESSAdvancedProperty"
	   		tab="Ports">
	   		<input type="java.lang.Object"/> 
		</propertySection>
		<propertySection
			afterSection=""
	   		class="org.polarsys.chess.tabbedproperties.sections.CHRtSpecificationProperty"
	  		id="CHESSAdvancedProperty"
	   		tab="CHRtSpecification"
	   		filter="org.polarsys.chess.tabbedproperties.filters.CHRtSpecificationFilter">
	   		<input type="org.eclipse.papyrus.emf.facet.custom.metamodel.v0_2_0.internal.treeproxy.EObjectTreeElement"/> 
		</propertySection>
		<propertySection
			afterSection=""
	   		class="org.polarsys.chess.tabbedproperties.sections.AnalysisContextProperty"
	  		id="CHESSAdvancedProperty"
	   		tab="AnalysisContext"
	   		filter="org.polarsys.chess.tabbedproperties.filters.AnalysisContextFilter">
	   		<input type="org.eclipse.papyrus.emf.facet.custom.metamodel.v0_2_0.internal.treeproxy.EObjectTreeElement"/> 
		</propertySection>
	</propertySections>
</extension>

<extension point="org.eclipse.papyrus.infra.properties.contexts">
      <context contextModel="CHESS.ctx">
      </context>
   </extension>
 

</plugin>
