<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">     
            <menuContribution
            allPopups="false"            
            locationURI="menu:org.eclipse.ui.main.menu.AMASS?after=org.eclipse.ui.main.menu.AMASS.funcVer">
            <menu
               label="Safety Case"
            id="org.eclipse.ui.main.menu.AMASS.safetyCase">
         <menu
               label="Document Generation"
               id="org.eclipse.ui.main.menu.AMASS.docGen">
            <command
                  commandId="org.polarsys.chess.diagram.ui.commands.ExportComponentToImageCommand"
                  style="push">
            </command>
            <command
                  commandId="org.polarsys.chess.diagram.ui.commands.ExportModelToDocumentCommand"
                  style="push">
            </command>
            <command
                  commandId="org.polarsys.chess.diagram.ui.commands.GenerateDocumentCommand"
                  style="push">
            </command>
         </menu>        
         </menu>        
      </menuContribution>
     <menuContribution
            allPopups="false"            
            locationURI="popup:org.eclipse.ui.main.diagramEditorMenu.AMASS?after=org.eclipse.ui.main.diagramEditorMenu.AMASS.funcVer">              
           <menu
               label="Safety Case"
            id="org.eclipse.ui.main.diagramEditorMenu.AMASS.safetyCase">
         <menu
               label="Document Generation"
               id="org.eclipse.ui.main.diagramEditorMenu.AMASS.docGen">
            <command
                  commandId="org.polarsys.chess.diagram.ui.commands.ExportComponentToImageCommand"
                  style="push">
            </command>
            <command
                  commandId="org.polarsys.chess.diagram.ui.commands.ExportModelToDocumentCommand"
                  style="push">
            </command>
            <command
                  commandId="org.polarsys.chess.diagram.ui.commands.GenerateDocumentCommand"
                  style="push">
            </command>
         </menu>        
         </menu>    
              </menuContribution>                         
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.diagram.ui.commands.ExportComponentToImageCommand"
            id="org.polarsys.chess.diagram.ui.commands.ExportComponentToImageCommand"
            name="Export Selected Graphical Component as Image">
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagram.ui.commands.ExportModelToDocumentCommand"
            id="org.polarsys.chess.diagram.ui.commands.ExportModelToDocumentCommand"
            name="Export Selected Graphical Component as Document">
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagram.ui.commands.GenerateDocumentCommand"
            id="org.polarsys.chess.diagram.ui.commands.GenerateDocumentCommand"
            name="Generate Documentation from selected component">
      </command>
   </extension> 
</plugin>
