<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"            
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
      </menuContribution>
      <menuContribution
            allPopups="false"            
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
          <!--<menu
               label="AMASS"
               id="org.eclipse.ui.main.modelExplorerMenu.AMASS">
             <menu
               label="Basic Operations">
            <command
                  commandId="org.polarsys.chess.verificationService.commands.ExportModelToFileCommand"
                  style="push">
            </command>
            </menu>
             <menu
               label="Functional Verifications"
               id="org.eclipse.ui.main.modelExplorerMenu.AMASS.funcVer">    
            <command
                  commandId="org.polarsys.chess.verificationService.commands.ContractRefinementCommand"
                  style="push">
            </command>
            <command
                  commandId="org.polarsys.chess.verificationService.commands.ContractImplementationCommand"
                  style="push">
            </command>           
            <command
                  commandId="org.polarsys.chess.verificationService.commands.CheckValidationPropertyCommand2"
                  style="push">
            </command>
             <command
                  commandId="org.polarsys.chess.verificationService.commands.ModelCheckingCommand2"
                  style="push">
            </command>
             </menu>
              <menu
               label="Safety Analysis">
               </menu>
              <menu
               label="Safety Case">
               </menu>
         </menu>       -->  
      </menuContribution>
            <menuContribution
            allPopups="false"            
            locationURI="menu:org.eclipse.ui.main.menu">
      </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="popup:org.polarsys.chess.modelexplorerpopupmenu.id">
               <menu
                     id="org.eclipse.ui.main.diagramEditorMenu.CHESS.basicOperations"
                     label="Basic Operations">
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ExportModelToFileCommand"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="org.eclipse.ui.main.diagramEditorMenu.CHESS.validation"
                     label="Validation">
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.CheckValidationPropertyCommand2"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="org.eclipse.ui.main.diagramEditorMenu.CHESS.funcVer"
                     label="Functional Verifications">
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ContractRefinementCommand"
                        style="push">
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ContractImplementationCommand"
                        style="push">
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ModelCheckingCommand2"
                        style="push">
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.CompositeContractImplementationCommand"
                        style="push">
                  </command>
               </menu>
            </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="menu:org.polarsys.chess.mainMenu">
               <menu
                     id="org.eclipse.ui.main.menu.CHESS.basicOperation"
                     label="Basic Operations">
                  <menu
                        id="org.eclipse.ui.main.menu.CHESS.basicOperation.debug"
                        label="//Debug Operations">
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.RuntimeErrorsOnFileCommand"
                           style="push">
                     </command>
                  </menu>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ExportModelToFileCommand"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="org.eclipse.ui.main.menu.CHESS.validation"
                     label="Validation">
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.CheckValidationPropertyCommand2"
                        style="push">
                  </command>
                  <menu
                        label="//Debug Validation">
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.CheckValidationPropertyOnFileCommand"
                           style="push">
                     </command>
                  </menu>
               </menu>
               <menu
                     id="org.eclipse.ui.main.menu.CHESS.funcVer"
                     label="Functional Verifications">
                  <menu
                        label="//Debug Operations">
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.ContractRefinementOnFileCommand"
                           style="push">
                     </command>
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.ContractImplementationOnFileCommand"
                           style="push">
                     </command>
                     <command
                           commandId="org.polarsys.chess.verificationService.commands.debug.ModelCheckingOnFileCommand"
                           style="push">
                     </command>
                  </menu>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ContractRefinementCommand"
                        style="push">
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ContractImplementationCommand"
                        style="push">
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.ModelCheckingCommand2"
                        style="push">
                  </command>
                  <command
                        commandId="org.polarsys.chess.verificationService.commands.CompositeContractImplementationCommand"
                        style="push">
                  </command>
               </menu>
               <menu
                     id="org.eclipse.ui.main.menu.CHESS.safetyAnalysis"
                     label="Safety Analysis">
               </menu>
            </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=filtersMenu">
               <menu
                     icon="icons/CHESSicon.gif"
                     id="org.polarsys.chess.modelexplorerpopupmenu.id"
                     label="CHESS">
               </menu>
            </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
               <menu
                     icon="icons/CHESSicon.gif"
                     id="org.polarsys.chess.modelexplorerpopupmenu.id"
                     label="CHESS">
               </menu>
            </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.ContractRefinementCommand"
            id="org.polarsys.chess.verificationService.commands.ContractRefinementCommand"
            name="Check Contract Refinement on selected component">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.debug.RuntimeErrorsOnFileCommand"
            id="org.polarsys.chess.verificationService.commands.debug.RuntimeErrorsOnFileCommand"
            name="Check Grammar on .oss file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.debug.ContractRefinementOnFileCommand"
            id="org.polarsys.chess.verificationService.commands.debug.ContractRefinementOnFileCommand"
            name="Check Contract Refinement on .oss file">
      </command>
       <command
            defaultHandler="org.polarsys.chess.verificationService.commands.debug.ContractImplementationOnFileCommand"
            			id="org.polarsys.chess.verificationService.commands.debug.ContractImplementationOnFileCommand"
            name="Check Contract Implementation on .oss and .smv files">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.ExportModelToFileCommand"
            id="org.polarsys.chess.verificationService.commands.ExportModelToFileCommand"
            name="Export model as .oss file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.ContractImplementationCommand"
            id="org.polarsys.chess.verificationService.commands.ContractImplementationCommand"
            name="Check Contract Implementation on selected component">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.ModelCheckingCommand"
            id="org.polarsys.chess.verificationService.commands.ModelCheckingCommand2"
            name="Model Checking on selected component">
         <commandParameter
               id="isDiscrete"
               name="isDiscrete"
               optional="true">
         </commandParameter>
         <commandParameter
               id="elementURI"
               name="elementURI"
               optional="true">
         </commandParameter>
         <commandParameter
               id="projectName"
               name="projectName"
               optional="true">
         </commandParameter>
         <commandParameter
               id="modelName"
               name="modelName"
               optional="true">
         </commandParameter>
         	<commandParameter
               id="property"
               name="Property"
               optional="true">
         </commandParameter>
         <commandParameter
               id="algorithm_type"
               name="AlgorithmType"
               optional="true"
               values="bmc, bdd, ic3, klive">
         </commandParameter>
         <commandParameter
               id="check_type"
               name="CheckType"
               optional="true"
               values="invar, ltlspec, ctl">
         </commandParameter>
         
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.debug.ModelCheckingOnFileCommand"
            id="org.polarsys.chess.verificationService.commands.debug.ModelCheckingOnFileCommand"
            name="Model Checking on .smv file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.CheckValidationPropertyCommand"
            id="org.polarsys.chess.verificationService.commands.CheckValidationPropertyCommand2"
            name="Check Validation Property on selected component">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.debug.CheckValidationPropertyOnFileCommand"
            id="org.polarsys.chess.verificationService.commands.debug.CheckValidationPropertyOnFileCommand"
            name="Check Validation Property on .oss file">
      </command>
      <command
            defaultHandler="org.polarsys.chess.verificationService.commands.CompositeContractImplementationCommand"
            id="org.polarsys.chess.verificationService.commands.CompositeContractImplementationCommand"
            name="Check Composite Contract Implementation on selected component">
      </command>
   </extension> 
</plugin>
