<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.polarsys.chess.fla.analysis.command"
            name="Concerto-FLA">
      </command>
      <command
            id="org.polarsys.chess.fla.analysis.command.xml"
            name="Concerto-FLA_XML">
      </command>
   </extension>
   
   	<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.polarsys.chess.mainMenu"
               label="CHESS"
               mnemonic="E">
            <menu
                  id="chess.menu.analysis.id"
                  label="Analysis">
               <menu
                     id="chess.menu.analysis.dependability.id"
                     label="Dependability">
                  <command
                        commandId="org.polarsys.chess.fla.analysis.command"
                        label="Failure Logic Analysis (Concerto-FLA)"
                        style="push">
                     <visibleWhen
                           checkEnabled="false">
                        <or>
                           <with
                                 variable="activeEditorId">
                              <equals
                                    value="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
                              </equals>
                           </with>
                           <with
                                 variable="activeEditorInput">
                              <adapt
                                    type="org.eclipse.core.resources.IResource">
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="org.polarsys.chess.CHESSNature">
                                 </test>
                              </adapt>
                           </with>
                        </or>
                     </visibleWhen>
                  </command>
               </menu>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.polarsys.chess.mainMenu"
               label="CHESS"
               mnemonic="E">
            <menu
                  id="chess.menu.analysis.id"
                  label="Analysis">
               <menu
                     id="chess.menu.analysis.dependability.id"
                     label="Dependability">
                  <command
                        commandId="org.polarsys.chess.fla.analysis.command.xml"
                        label="Failure Logic Analysis (Concerto-FLA) from XML"
                        style="push">
                  </command>
               </menu>
            </menu>
         </menu>
      </menuContribution>
	</extension>   
	
	   <extension
         point="org.eclipse.ui.handlers">
      <handler
     		class="org.polarsys.chess.fla.launch.FlaAnalysisCommand"
            commandId="org.polarsys.chess.fla.analysis.command">
      </handler>
      <handler
            class="org.polarsys.chess.fla.launch.FlaAnalysisCommandXml"
            commandId="org.polarsys.chess.fla.analysis.command.xml">
      </handler>    
   </extension> 
   
	   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.polarsys.chess.preferences"
            class="org.polarsys.chess.fla.preferences.ConcertoFlaPreferencePage"
            id="org.polarsys.chess.fla.analysis.page"
            name="Concerto-FLA">
      </page>
   </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.polarsys.chess.fla.preferences.PreferenceInitializer">
       </initializer>
    </extension>

</plugin>
