<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.polarsys.chess.modelexplorerpopupmenu.id">
         <menu
               id="org.eclipse.ui.main.diagramEditorMenu.CHESS.basicOperations"
               label="Basic Operations">
            <command
                  commandId="org.polarsys.chess.diagramsCreator.commands.createIBD"
                  label="Create the IBD diagram for the selected component"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Class">
                        </instanceof>
                     </adapt>
                    <with
                     	variable="activeMenuSelection">
                  		<count
                        	value="1">
                  		</count>
               		</with>                     
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.chess.diagramsCreator.commands.createAllIBDs"
                  label="Create the IBD diagrams for all the package components (raw version)"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                    <with
                     	variable="activeMenuSelection">
                  		<count
                        	value="1">
                  		</count>
               		</with>                     
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.chess.diagramsCreator.commands.createBDD"
                  label="Create the BDD diagram for the selected package"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <instanceof
                              value="org.eclipse.uml2.uml.Package">
                        </instanceof>
                     </adapt>
                    <with
                     	variable="activeMenuSelection">
                  		<count
                        	value="1">
                  		</count>
               		</with>                     
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.chess.diagramsCreator.commands.refreshBDDHandler"
                  label="Update the current BDD diagram"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.papyrus.sysml.diagram.blockdefinition.edit.part.BlockDefinitionDiagramEditPart">
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.chess.diagramsCreator.commands.refreshIBDHandler"
                  label="Update the current IBD diagram"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.papyrus.sysml.diagram.internalblock.edit.part.InternalBlockDiagramEditPart">
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.CreateIBDSingleCommand"
            id="org.polarsys.chess.diagramsCreator.commands.createIBD"
            name="Create the IBD diagram for the selected component">
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.CreateIBDMultipleCommand"
            id="org.polarsys.chess.diagramsCreator.commands.createAllIBDs"
            name="Create the IBD diagrams for all the components">
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.CreateBDDCommand"
            id="org.polarsys.chess.diagramsCreator.commands.createBDD"
            name="Create the BDD diagram">
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.CreateBDDHandler"
            id="org.polarsys.chess.diagramsCreator.commands.createBDDHandler"
            name="Create the BDD diagram handler">
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.CreateIBDSingleHandler"
            id="org.polarsys.chess.diagramsCreator.commands.createIBDHandler"
            name="Create the IBD diagram handler">
         <commandParameter
               id="sortedPorts"
               name="sortedPorts"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.CreateIBDMultipleHandler"
            id="org.polarsys.chess.diagramsCreator.commands.createAllIBDsHandler"
            name="Create the IBD diagrams handler">
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.AdjustAssociationsHandler"
            id="org.polarsys.chess.diagramsCreator.commands.adjustAssociationsHandler"
            name="Adjust associations handler">
         <commandParameter
               id="show_stereotypes"
               name="show_stereotypes"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show_associations_names"
               name="show_associations_names"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show_source_role"
               name="show_source_role"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show_source_multiplicity"
               name="show_source_multiplicity"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show_target_role"
               name="show_target_role"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show_target_multiplicity"
               name="show_target_multiplicity"
               optional="true">
         </commandParameter>
         <commandParameter
               id="routing_style"
               name="routing_style"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.ArrangeHandler"
            id="org.polarsys.chess.diagramsCreator.commands.arrangeHandler"
            name="Arrange the graphical elements handler">
         <commandParameter
               id="loop_times"
               name="loop_times"
               optional="true">
         </commandParameter>
         <commandParameter
               id="process_diagram"
               name="process_diagram"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.AdjustConnectorsHandler"
            id="org.polarsys.chess.diagramsCreator.commands.adjustConnectorsHandler"
            name="Adjust connectors handler">
         <commandParameter
               id="show_flowports"
               name="show_flowports"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show_connectors"
               name="show_connectors"
               optional="true">
         </commandParameter>
         <commandParameter
               id="show_stereotypes"
               name="show_stereotypes"
               optional="true">
         </commandParameter>
         <commandParameter
               id="routing_style"
               name="routing_style"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.RefreshBDDHandler"
            id="org.polarsys.chess.diagramsCreator.commands.refreshBDDHandler"
            name="Refresh BDD handler">
      </command>
      <command
            defaultHandler="org.polarsys.chess.diagramsCreator.commands.RefreshIBDHandler"
            id="org.polarsys.chess.diagramsCreator.commands.refreshIBDHandler"
            name="Refresh IBD handler">
      </command>
   </extension>
   <extension
         point="org.eclipse.elk.core.service.layoutConnectors">
      <setup
            class="org.polarsys.chess.diagramsCreator.layouts.BDDLayoutSetup"
            priority="10">
      </setup>
      <setup
            class="org.polarsys.chess.diagramsCreator.layouts.IBDLayoutSetup"
            priority="11">
      </setup>
   </extension>

</plugin>
